/* vjs-player.component.css */
@import '~video.js/dist/video-js.css';

:root video{
    width: 100%;
    min-height: 320px;
}

:root body{
    background: #fff;
}

::ng-deep {
    .ngx-slider .ngx-slider-pointer {
        background-color: #2F4050;
    }
}


.timeline{
    position: relative;
    white-space: nowrap;
    padding-top: 85px;
}
.timeline-wrapper *{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}   
.timeline-wrapper{
    width: 100%;
    height: 200px;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: -60px;

    /* Scrollbar */
    scrollbar-width: auto;
    scrollbar-color: #2F4050;
}
.thumbnail-image{
    border-radius: 5px;
    background-color: #C0C9CF;
    width: 100%;
    height: 100%;
}

.timeline-wrapper::-webkit-scrollbar {
    width: 12px;
}
.timeline-wrapper::-webkit-scrollbar-track {
    background: #E7EAEC;
}
.timeline-wrapper::-webkit-scrollbar-thumb {
    background-color: #2F4050;
    border-radius: 20px;
    border: 3px solid #E7EAEC;
}
.current-time-line{
    position: absolute;
    background: #2F4050;
    width: 3px;
    height: 135px;
    top: 40px;
    z-index: 20;
    cursor: pointer;
}
.tooltip{
    width: 100px;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    font-weight: 600;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 21;
    position: absolute;
    top: -40px;
    left: -50px;
    cursor: default;
    padding: 8px 10px;
    border-radius: 4px;
    background:#2F4050;
    color: #fff;
    font-weight: 900;
    opacity:1;
}
.tooltip::after{
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #2F4050 transparent transparent transparent;
}
.current-time-line::after{
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    top: -2px;
    left: -6px;
    background: #A4D130;
    border-radius: 50%;
    cursor: pointer;
    z-index: 16;
}
.marker{
    min-height: 90px;
    opacity: 1;
    background-color: rgba(41,56,70,0.25);
    min-width: 25px;
    position: absolute;
    top:70px;
    border-right: 4px solid rgb(41,56,70);
    border-left: 4px solid rgb(41,56,70);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.36);
    /*border-left: 16px solid  rgba(0, 140, 255,1);
    border-right: 16px solid rgba(0, 140, 255,1);*/
}

.columnVideo{
    height: 60px;
    background-color:#f9f9f9;
    float: left;
    padding:7px;
}

.starttime{
    font-size: 5px;
}
.endtime{
    font-size: 5px;
}


/* Resizeable */
.resize-handle-left::before,
.resize-handle-right::before{
    content: '';
    position: absolute;
    width: 5px;
    height: 40px;
    top: 26px;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}
.resize-handle-left,
.resize-handle-right {
position: absolute;
height: 100%;
cursor: col-resize;
width: 10px;
background: rgb(41,56,70);
}

.resize-handle-left {
left: 0;
}
.resize-handle-left::before {
left: 0;
}

.resize-handle-right {
right: 0;
}
.resize-handle-right::before {
right: 0;
}

.detailed-selection .text-clip,
.detailed-selection .control-selection,
.detailed-selection .control-selection-from,
.detailed-selection .control-selection-to,
.detailed-selection .control-selection-label,
.detailed-selection .control-selection-time,
.detailed-selection .control-selection-controls
{
    display: inline-block;
}

.text-clip{
    margin-right: 50px;
    text-align: left;
}
.control-selection-label{
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    text-align: center;
}
.detailed-selection{
    margin-top: 30px;
    margin-bottom: 65px;
}
.control-selection-time input{
    width: 100px;
    margin-left: 5px;
    margin-right: 5px;
}

.control-selection-controls fa-icon{
    margin-left: 15px;
    margin-right: 15px;
}
.control-selection{
    float: right;
}
.video-wrapper{
    display: flex;
    padding: 20px 50px 20px 50px;
    background-color: #f9f9f9;
    border: 1px solid #E7EAEC;
}
.video-control-screen{
    width: 70%;
}
.video-control-preview fa-icon{
    font-size: 50px;
    margin: 0 auto;
    width: 50px;
    padding-top: 10px;
    display: block;
    color: #fff;
}
.video-control-preview{
    background: #2F4050;
    border-radius: 6px;
    width: 110px;
    height: 88px;
}
.video-control-commands{
    width: 30%;
    padding: 20px;
}
.video-control-label{
    margin-bottom: 10px;
}
.btn-univ{
    background: #A4D130;
    border-radius: 6px;
    padding: 10px;
    color: #fff;
    font-weight: bold;
}
.btn.univ:hover{
    color: #fff;
}
.ui-control-player{
    cursor: pointer;
}